@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bff; /* Default color */
  --primary-font-color: black; /* Default color */
  --secondary-font-color: white; /* Default color */
  --starbucks-primary-color: #00643c; /* Default color */
  --starbucks-secondary-color: #6c757d; /* Default color */
  --twosome-primary-color: #d60037; /* Default color */
  --twosome-secondary-color: #54565a; /* Default color */
  --mega-primary-color: #ffdc00; /* Default color */
  --mega-secondary-color: #442513; /* Default color */
}

body {
  background-color: #fff6e5;
  /* color: white; */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
